body {
  background-color: #f0f0f0;
}

.canvas-container {
  max-width: 82vw; /* 90% of the viewport width */
  max-height: 90.5vh; /* 90.5% of the viewport height */
  overflow: hidden;
  border: 1px solid black;
  border-radius: 4px;
  margin: 6px;
}

canvas {
  display: block;
}

.main-content {
  display: flex;
}

.upper-menu {
  display: flex;
  max-height: 5vh;
  border: 1px solid black;
  border-radius: 4px;
  margin: 6px 6px 6px 6px;
}

.menu-item {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 0;
}

.menu-item .icon {
  width: 24px;
  height: 24px;
  fill: #333;
}

#circle-radius-input {
  width: 40px;
}

.menu-item:hover .icon,
.svg-text:hover {
  fill: #007bff;
}
