body {
  background-color: #f0f0f0;
}

.canvas-container {
  max-width: 1500px;
  /* max-height: 840px; */
  max-height: 91vh;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 4px;
  margin: 6px 6px 6px 6px;
}

canvas {
  display: block;
}

.main-content {
  display: flex;
}

.storage-container {
  display: block;
  background-color: #f0f0f0;
  margin: 6px 6px 6px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 250px;
}

.local-storage-name {
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.local-storage-list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the items horizontally */
  gap: 5px; /* Space between list items */
  width: 100%; /* Adjust width as needed */
  border-radius: 4px; /* Optional: rounded corners */
}

.local-storage-item {
  background-color: #f0f0f0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.local-storage-item:hover {
  background-color: #e0e0e0; /* Darker background on hover */
}

.upper-menu {
  display: flex;
  border: 1px solid black;
  border-radius: 4px;
  margin: 6px 6px 6px 6px;
}

.menu-item {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 0 5px;
}

.menu-item .icon {
  width: 24px;
  height: 24px;
  fill: #333;
}

.menu-item:hover .icon,
.svg-text:hover {
  fill: #007bff;
}

.circle-context-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
}

.circle-context-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.circle-context-menu ul li {
  padding: 8px 12px;
  cursor: pointer;
}

.circle-context-menu ul li:hover {
  background-color: #eee;
}

@media (max-width: 1400px) {
  .storage-container {
    display: none;
  }
}
