body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.canvas-container {
  max-width: 1500px;
  max-height: 900px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 4px;
  margin: 6px 6px 6px 6px;
}

canvas {
  display: block;
  border: 0px solid black;
}

.main-content {
  display: flex;
}

.storage-container {
  background-color: #f0f0f0; /* Optional: background color */
  margin: 6px 6px 6px 6px;
  border: 1px solid #ccc; /* Optional: border around the container */
  border-radius: 4px;
  min-width: 250px;
}

.local-storage-name {
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.local-storage-list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the items horizontally */
  gap: 5px; /* Space between list items */
  width: 100%; /* Adjust width as needed */
  border-radius: 4px; /* Optional: rounded corners */
}

.local-storage-item {
  background-color: #f0f0f0; /* Background color */
  width: 100%; /* Full width */
  text-align: center; /* Center text inside the item */
  cursor: pointer; /* Pointer cursor on hover */
}

.local-storage-item:hover {
  background-color: #e0e0e0; /* Darker background on hover */
}

@media (max-width: 1400px) {
  .storage-container {
    display: none;
  }
}
