body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.canvas-container {
  max-width: 1500px;
  max-height: 900px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 4px;
  margin: 6px 6px 6px 6px;
}

canvas {
  display: block;
  border: 0px solid black;
}
